.logtable {
	table-layout:fixed;
}
.logtable > tbody {
	background-color:
}
.date {
	width: 10em;
}
.time {
	width: 5;
}
.callsign {
	width: 10em;
	text-transform:uppercase;
}
.freq {
	width: 5em;
}
.mode {
	width: 4em;
}
.report {
	width: 3em;
}
.rem {
	width: 4em;
}
.readlogbutton {
	display:none;
}
.input_table {
	table-layout:auto;
}
.d_out_border {
	padding: 2em;
	margin-bottom:1em;
	border: 0.2em solid #333333;
	background-color: #ffff99;
}
